<launch>
  <!-- Name of the world file to use -->
  <arg name="world_file"     default="$(find projetofinal)/maps/holonomic_map.world"/>
  <arg name="rewards"         default="$(find projetofinal)/input/rewards30x30_min20_max50_j5.txt"/>
  <arg name="max_cost"         default="50"/>
  <arg name="start_x"         default="-7"/>
  <arg name="start_y"         default="-10"/>
  <arg name="end_x"         default="9"/>
  <arg name="end_y"         default="9"/>
  <arg name="navigate"      default="0"/>

  <param name="/use_sim_time" value="true"/>


  <!--  ******************** Stage ********************  -->
  <!-- 
        Publishes transforms:
          /base_link -> /base_laser_link
          /base_footprint -> /base_link (identity)
          /odom -> base_footprint
        Publishes topics:
          /odom : odometry data from the simulated odometry
          /base_scan : laser data from the simulated laser
          /base_pose_ground_truth : the ground truth pose
        Parameters:
          base_watchdog_timeout : time (s) after receiving the last command on cmd_vel before stopping the robot
        Args:
          -g : run in headless mode.
  -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
    <param name="base_watchdog_timeout" value="0.5"/>
  </node>

  <node pkg="projetofinal" type="pf.py" name="pf" output="screen" args="$(arg rewards) $(arg max_cost) $(arg start_x) $(arg start_y) $(arg end_x) $(arg end_y) $(arg navigate)" required="true"></node>
</launch>
